innodb_buffer_pool_size = 2G       # メモリの80%
innodb_log_buffer_size  = 64MB
innodb_log_file_size    = 500MB    # innodb_buffer_pool_sizeの1/4
query_cache_type        = 1
query_cache_size        = 32M
query_cache_limit       = 2M
i